.campo-digitacao {
    font-size: 20px;
    height: 12rem;
    border: 3px solid black;
}

.campo-desativado {
    background-color: lightgray;
}

#botao-reiniciar {
    color: black;
    background-color: lightgreen;
}

#botao-reiniciar:disabled {
    background-color: darkred;
    color: whitesmoke;
}

.centralizar {
    vertical-align: middle;
}

.center {
    text-align: center;
}

.frase {
    font-size: 20px;
    text-align: left;
}

.borda-verde {
    border: 3px solid green;
}

.borda-vermelha {
    border: 3px solid red;
}
